<!-- actionplan Grid Section -->
<section id="actionplan" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">action plan</h2>
                <h3 class="section-subheading text-muted">Year 2018</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 actionplan-item">
                <a href="#actionplanModal1" class="actionplan-link" data-toggle="modal">
                    <div class="actionplan-hover">
                        <div class="actionplan-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/actionplan/roundicons.png" class="img-responsive" alt="">
                </a>
                <div class="actionplan-caption">
                    <h4>Sector I</h4>
                    <p class="text-muted">Training, capacity building, sensitization and dissemination of peace culture.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 actionplan-item">
                <a href="#actionplanModal2" class="actionplan-link" data-toggle="modal">
                    <div class="actionplan-hover">
                        <div class="actionplan-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/actionplan/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="actionplan-caption">
                    <h4>Sector II</h4>
                    <p class="text-muted">Intellectual approach to peace issues</p>
                    <br><br>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 actionplan-item">
                <a href="#actionplanModal3" class="actionplan-link" data-toggle="modal">
                    <div class="actionplan-hover">
                        <div class="actionplan-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/actionplan/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="actionplan-caption">
                    <h4>Sector III</h4>
                    <p class="text-muted">Monitoring, analysis, evaluation and launching of peace initiatives.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 actionplan-item">
                <a href="#actionplanModal4" class="actionplan-link" data-toggle="modal">
                    <div class="actionplan-hover">
                        <div class="actionplan-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/actionplan/golden.png" class="img-responsive" alt="">
                </a>
                <div class="actionplan-caption">
                    <h4>Sector IV</h4>
                    <p class="text-muted">Communication and interactivity for peace</p>
                </div>
            </div>
            {{!-- <div class="col-md-4 col-sm-6 actionplan-item">
                <a href="#actionplanModal5" class="actionplan-link" data-toggle="modal">
                    <div class="actionplan-hover">
                        <div class="actionplan-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/actionplan/escape.png" class="img-responsive" alt="">
                </a>
                <div class="actionplan-caption">
                    <h4>Escape</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 actionplan-item">
                <a href="#actionplanModal6" class="actionplan-link" data-toggle="modal">
                    <div class="actionplan-hover">
                        <div class="actionplan-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/actionplan/dreams.png" class="img-responsive" alt="">
                </a>
                <div class="actionplan-caption">
                    <h4>Dreams</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div> --}}
        </div>
    </div>
</section>