<!-- team Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing team</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Kay Garland</h4>
                    <p class="text-muted">Lead Designer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>Larry Parker</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Diana Pertersen</h4>
                    <p class="text-muted">Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>








{{!-- ---------------- --}}


<section id="dna" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our DNA</h2>
                <h3 class="section-subheading text-muted">"Action without vision is only passing time, vision without action is merely day dreaming. But vision with action can change the world."
                <br>
                <br>
                <div align="right">Nelson Mandela</div>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    {{!-- <img src="img/team/1.jpg" class="img-responsive img-circle img-opacity" alt=""> --}}
                    <h4>Our vision</h4>
                    <p class="text-muted">A world of peace is a world where the human being achieves humanity.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/2.jpg" class="img-responsive img-circle img-opacity" alt="">
                    <h4>Our mission</h4>
                    <p class="text-muted">Promoting peace and contributing to the efforts aiming at its establishment, consolidation, diffusion, sustainability and the dissemination of its culture.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/3.jpg" class="img-responsive img-circle img-opacity" alt="">
                    <h4>Our convictions</h4>
                    <p class="text-muted">Peace is a way of life preached by monotheistic religions and where Human where the rights flourish.<br>
                        <a href="#dnaModal3" class="dna-link" data-toggle="modal">
                            read more
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/3.jpg" class="img-responsive img-circle img-opacity" alt="">
                    <h4>Our commitment</h4>
                    <p class="text-muted">Active involvement in lending practical support to the promotion of peace as a way of life for all people around the world.</p>
                </div>
            </div>
        </div>
    </div>
</section>