<!-- actionplan Modals -->
<!-- Use the modals below to showcase details about your actionplan projects! -->

<!-- actionplan Modal 1 -->
<div class="actionplan-modal modal fade" id="actionplanModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sector I</h2>
                        <p class="item-intro text-muted">Training, capacity building, sensitization and dissemination of peace culture.</p>
                        <img class="img-responsive img-centered" src="img/actionplan/roundicons-free.png" alt="">
                        <p><strong>Project 01:</strong> Peace mediators (Training)</p>
                        <p><strong>Project 02:</strong> Peace Club Facilitators (Training)</p>
                        <p><strong>Project 03:</strong> School Peace Clubs (Creation and facilitation)</p>
                        <p><strong>Project 04:</strong> Tents of Peace in the public environment (Creation and facilitation)</p>
                        <br>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- actionplan Modal 2 -->
<div class="actionplan-modal modal fade" id="actionplanModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sector II</h2>
                        <p class="item-intro text-muted">Intellectual approach to peace issues.</p>
                        <img class="img-responsive img-centered" src="img/actionplan/roundicons-free.png" alt="">
                        <p><strong>Project 05:</strong> Peace Tribunes  (lecture & debate)</p>
                        <p><strong>Project 06:</strong> Peace Fora  (Panel & debate)</p>
                        <p><strong>Project 07:</strong> Peace Mirrors (Researches & Studies)</p>
                        <p><strong>Project 08:</strong> Launch of the Center's Electronic Journal</p>
                        <br>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- actionplan Modal 3 -->
<div class="actionplan-modal modal fade" id="actionplanModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sector III</h2>
                        <p class="item-intro text-muted">Monitoring, analysis, evaluation and launching of peace initiatives.</p>
                        <img class="img-responsive img-centered" src="img/actionplan/roundicons-free.png" alt="">
                        <p><strong>Project 09:</strong> Monitoring the peace situation developments  in the region (Annual Conference)</p>
                        <p><strong>Project 10:</strong> Identification and rewarding exceptional endeavors and actions for peace in the region</p>
                        <p><strong>Project 11:</strong> Launch of dialogue, mediation and reconciliation initiatives for peace (Depending on the evolution of events, the degree of acceptability by the stakeholders and the capacity to intervene in a neutral, fair, equitable and efficient manner)</p>
                        <br>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- actionplan Modal 4 -->
<div class="actionplan-modal modal fade" id="actionplanModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sector IV</h2>
                        <p class="item-intro text-muted">Communication and interactivity for peace.</p>
                        <img class="img-responsive img-centered" src="img/actionplan/roundicons-free.png" alt="">
                        <p><strong>Project 12:</strong> Launch and support of women's networks for peace and development (by country)</p>
                        <p><strong>Project 13:</strong> Launch and support of youth networks for peace and development (by country)</p>
                        <p><strong>Project 14:</strong> Launch and support of Local councils’ members networks for peace and development (by country)</p>
                        <p><strong>Project 15:</strong> Launch of the Center’s website with including for a  dedicated to the aforementioned networks</p>
                        <br>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{{!-- DNA models --}}
{{!-- dna model 3 --}}
<div class="dna-modal modal fade" id="dnaModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Our convictions</h2>
                        <p></p>
                        <p align="left">Peace is a way of life preached by monotheistic religions and where Human where the rights flourish.</p>
                        <p align="left">Sustainable peace cannot be founded on the preparation of an ever imminent war. It can only be founded on continuous research to identify the means for its proper consolidation, sustainability and protection against any threat of collapse.</p>
                        <p align="left">Peace is a situation that the wise prepare, the honest run and the brave accomplish. It is a situation where homelands thrive and peoples blossom. Whereas conflict is a situation that vicious prepare, corrupted run and criminals accomplish. It is a situation that destructs homelands and decimates peoples.</p>
                        <p align="left">Conflict is not the fate of mankind. Violence is not either an imperative for its resolution at the cost of jeopardizing peoples’ future.</p>
                        <p align="left">Peaceful conflict resolution remains the best assurance for peace sustainability, the preservation of resources, the protection of achievements and the safeguarding of homelands.</p>
                        <p align="left">The culture of peace is rich with the experiences of peoples, nations, civilizations and religions in their diversity, coexistence and positive interaction. Hence, it is a common heritage for mankind that should inspire all peoples around the world to build their respective peace and contribute to the consolidation of global peace.</p>
                        <p align="left">Cooperation, association and networking with stakeholders in all sectors and all fields are crucial to the complementarity of efforts and solidarity of wills for the promotion of peace and the dissemination of its culture at national, Maghreb, regional and international levels.</p>
                        <p align="left">Studies, researches, training, capacity building and knowledge sharing to promote peace are basic conditions for its development and for the creation of innovative means, mechanisms and processes that can ensure better awareness of the critical importance of peace, its expansion and the dissemination of its culture among all peoples.</p>

                        <br>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- dna Modal 2 -->
{{!-- <div class="dna-modal modal fade" id="dnaModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sector II</h2>
                        <p class="item-intro text-muted">Intellectual approach to peace issues.</p>
                        <img class="img-responsive img-centered" src="img/dna/roundicons-free.png" alt="">
                        <p><strong>Project 05:</strong> Peace Tribunes  (lecture & debate)</p>
                        <p><strong>Project 06:</strong> Peace Fora  (Panel & debate)</p>
                        <p><strong>Project 07:</strong> Peace Mirrors (Researches & Studies)</p>
                        <p><strong>Project 08:</strong> Launch of the Center's Electronic Journal</p>
                        <br>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
