
<!-- activities Section -->
<section id="activities">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">activities</h2>
                {{!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> --}}
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Knowledge sharing</h4>
                <p class="text-muted">Round-tables, study-days, workshops, seminars and conferences.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Research</h4>
                <p class="text-muted">Studies, researches and capacity building.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Communication</h4>
                <p class="text-muted">Information, communication, documentation and publication.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Connecting with the other</h4>
                <p class="text-muted">Mediation, reconciliation and dialogue initiatives.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Experts</h4>
                <p class="text-muted">Partnership, cooperation and coordination relationships with relevant expert bodies and individuals.</p>
            </div>
        </div>
    </div>
</section>

