
<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About us</h2>
                <h3 class="section-subheading text-muted">The promotion of peace, the dissemination of its culture and its consolidation at national, Maghreb, regional and international levels.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img class="about-logo" src="img/logos/cpc.png" width="80%">
            </div>
            <div class="col-md-4 about-text">
                <h4 class="service-heading">Who we are</h4>
                <p class="text-muted" align="left">Carthage Peace Center is a non-governmental, non-profit and non-partisan association founded in Tunisia on September 9th, 2016 in conformity with Decree-Law number 88/2011 dated September 30th 2011 and related to the organization of associations. Based in Tunis, the Centre aims to promote peace at national, Maghreb, regional and international levels.</p>
            </div>
            <div class="col-md-4 about-text">
                <h4 class="service-heading">What we aim to accomplish</h4>
                <p class="text-muted" align="left">
                    • Dissemination of the culture of peace in its political, social, environmental and developmental dimensions,
                    <br>
                    • Promotion of peace, conflict prevention and peaceful conflict resolution,
                    <br>
                    • Sensitization and capacity building in the field of peace-building and peace consolidation,
                    <br>
                    • Society protection against all forms of violence, extremism and terrorism,
                    <br>
                    • Identification and rewarding of exceptional endeavors for peace.
</p>
            </div>
        </div>
    </div>
</section>