<!-- dna Grid Section -->
<section id="dna" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our DNA</h2>
                <h3 class="section-subheading text-muted">"Action without vision is only passing time, vision without action is merely day dreaming. But vision with action can change the world."
                <br>
                <br>
                <div align="right">Nelson Mandela</div>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/dna/vision.png" class="img-responsive img-circle" alt="">
                    <h4></h4>
                    <p>A world of peace is a world where the human being achieves humanity.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/dna/mission.png" class="img-responsive img-circle" alt="">
                    <h4></h4>
                    <p>Promoting peace and contributing to the efforts aiming at its establishment, consolidation, diffusion, sustainability and the dissemination of its culture.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/dna/convictions.png" class="img-responsive img-circle" alt="">
                    <h4></h4>
                    <p>Peace is a way of life preached by monotheistic religions and where Human where the rights flourish.<br>
                        <a href="#dnaModal3" class="dna-link" data-toggle="modal">
                            read more
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/dna/commitment.png" class="img-responsive img-circle" alt="">
                    <h4></h4>
                    <p>Active involvement in lending practical support to the promotion of peace as a way of life for all people around the world.</p>
                </div>
            </div>
        </div>





{{!-- 
        <div class="row">
            <div class="col-md-6 col-sm-6 dna-item">
                <a href="#dnaModal1" class="dna-link" data-toggle="modal">
                    <div class="dna-hover">
                        <div class="dna-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/dna/roundicons.jpg" class="img-responsive img-circle" alt="">
                </a>
                <div class="dna-caption">
                    <h4>Our vision</h4>
                    <p class="text-muted">A world of peace is a world where the human being achieves humanity.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 dna-item">
                <a href="#dnaModal2" class="dna-link" data-toggle="modal">
                    <div class="dna-hover">
                        <div class="dna-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/dna/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="dna-caption">
                    <h4>Our mission</h4>
                    <p class="text-muted">Promoting peace and contributing to the efforts aiming at its establishment, consolidation, diffusion, sustainability and the dissemination of its culture.</p>
                    <br><br>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 dna-item">
                <a href="#dnaModal3" class="dna-link" data-toggle="modal">
                    <div class="dna-hover">
                        <div class="dna-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/dna/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="dna-caption">
                    <h4>Sector III</h4>
                    <p class="text-muted">Monitoring, analysis, evaluation and launching of peace initiatives.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 dna-item">
                <a href="#dnaModal4" class="dna-link" data-toggle="modal">
                    <div class="dna-hover">
                        <div class="dna-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/dna/golden.png" class="img-responsive" alt="">
                </a>
                <div class="dna-caption">
                    <h4>Sector IV</h4>
                    <p class="text-muted">Communication and interactivity for peace</p>
                </div>
            </div>
        </div> --}}
    </div>
</section>